# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# VS Code 설정 폴더
.vscode/

# VS Code 작업 중 생성되는 임시 파일
.history/
*.code-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log
logs/
log/
