.donation-list .page-content {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.donation-list h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.load-more-container {
  text-align: center;
  margin-top: 2rem;
}

.load-more-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #eeeeee;
  /* color: white; */
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #c5c5c5;
}
