.donation-page-wrap {
  padding: 0 10%;
}

#managerDiv {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}
